<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionario</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style1.css">
    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            <!-- Buscar Cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>
            <!-- -->
            <hr class="mt-4 border border-primary border -1">
            <!-- Nome -->
            <div class="col-md-6">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" required maxlength="30">
            </div>
            <!-- CPF -->
            <div class="col-md-2">
                <label for="inputCPFClient" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" required maxlength="15">
            </div>
            <!-- EMAIL -->
            <div class="col-md-4">
                <label for="inputEmailClient" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmailClient" spellcheck="false" maxlength="60">
            </div>
            <!-- Telefone -->
            <div class="col-md-2">
                <label for="inputTelefoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputTelefoneClient" spellcheck="false" maxlength="15">
            </div>
            <!-- CEP -->
            <div class="col-md-2">
                <label for="inputCEPClient" class="form-label">CEP</label>
                <input type="text" class="form-control" id="inputCEPClient" spellcheck="false" maxlength="15">
            </div>
            <!-- Logradouro -->
            <div class="col-md-4">
                <label for="inputAddresseClient" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="inputAdressClient" spellcheck="false" required
                    maxlength="40">
            </div>
            <!-- Cargo -->
            <div class="col-md-4">
                <label for="inputAddresseClient" class="form-label">Cargo Funcionario</label>
                <input type="text" class="form-control" id="inputAdressClient" spellcheck="false" required
                    maxlength="40">
            </div>
            <!-- Horário Serviço -->
            <div class="col-md-2">
                <label for="inputAddresseClient" class="form-label">Horário Serviço</label>
                <input type="text" class="form-control" id="inputAdressClient" spellcheck="false" required
                    maxlength="40">
            </div>
            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Cadastrar Funcionario</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar Cadastro</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn btn-secondary" id="btnResetOS">Limpar</button>
            </div>


            <!-- Bootstrap -->
            <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>