<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que sera exibido na janela-->
    <title>Estetíca Auto Motiva</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
</head>

<body>

    <div class="container button">
        <img src="../public/img/cliente.png" alt="clientes" title="Cadastro de Clientes">
        <img src="../public/img/car.png" alt="carros" title="Veículos">
        <img src="../public/img/relatorio.png" alt="relatorios" title="Emissão de OS">
        <img src="../public/img/funcionarios.png" alt="funcionario" title="Funcionarios">

    </div>
    <footer>
        <p id="dataAtualp"></p>
    </footer>


    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>