<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    
    <link rel="stylesheet" href="../public/css/style2.css">

    
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">

    <link rel="stylesheet" href="../public/css/style2.css">
</head>

<body>
    <div class="container">
        <h1 class="d-flex justify-content-center mb-1"></h1>
        <form id="frmOS" class="mt-2 row g-2">



            
            <div class="col-md-2">
                <label for="inputNumeroOS" class="form-label">Número OS</label>
                <input type="text" class="form-control" id="inputNumeroOS" spellcheck="false" disabled maxlength="30">
            </div>

            
            <div class="col-md-3">
                <label class="form-label">Data de entrada</label>
                <input type="text" class="form-control" id="inputData" disabled>
            </div>

            
            <div class="col-md-5" id="buscarclientes">
                <label for="inputSearchClient" class="form-label"> Buscar Clientes</label>
                <div class="d-flex">
                    <input type="text" class="form-control" id="inputSearchClient" maxlength="30" spellcheck="false">
                    <span class="input-group-text">
                        <img src="../public/img/search.png" alt="lupa" width="20">
                    </span>     
                </div>
                <ul id="viewListSuggestion" class="list-group position-absolute w-100"></ul>
            </div>

            
            <div class="col-md-3">
                <label for="inputIdClient" class="form-label">Id do cliente</label>
                <input type="text" class="form-control" id="inputIdClient" spellcheck="false" maxlength="15" disabled>
            </div>

            
            <div class="col-md-4">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" disabled spellcheck="false" maxlength="30">
            </div>

            
            <div class="col-md-2">
                <label for="inputCPFClient" class="form-label">CPF</label>
                <input type="text" class="form-control" id="inputCPFClient" disabled spellcheck="false" maxlength="30">
            </div>

            
            <div class="col-md-2">
                <label for="inputIPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputIPhoneClient" disabled spellcheck="false"
                    maxlength="30">
            </div>

            <input type="text" id="idClient"> 

            
            <hr class="mt-4 border border-dark border -1">

            
            <div class="col-md-2">
                <label for="inputMarcaVeiculoOS" class="form-label">Marca Veículo</label>
                <select id="inputMarcaVeiculoOS" class="form-select">
                    <option selected disabled>Carregando marcas...</option>
                </select>
            </div>

            
            <div class="col-md-2">
                <label for="inputModeloVeiculoOS" class="form-label">Modelo Veículo</label>
                <input type="text" class="form-control" id="inputModeloVeiculoOS" spellcheck="false" maxlength="20">
            </div>


            
            <div class="col-md-2">
                <label for="inputPlacaVeiculoOS" class="form-label">Placa </label>
                <input type="text" class="form-control" id="inputPlacaVeiculoOS" spellcheck="false" maxlength="9">
            </div>


            
            <div class="col-md-2">
                <label for="inputPrazoOS" class="form-label">Prazo</label>
                <input type="date" class="form-control" id="inputPrazoOS" required>
            </div>

            
            <div class="col-md-2">
                <label for="inputFuncionarioOS" class="form-label">Funcionário </label>
                <input type="text" class="form-control" id="inputFuncionarioOS" spellcheck="false" maxlength="20">
            </div>


            
            <div class="col-md-2">
                <label class="form-label">Status da OS</label>
                <select class="form-select" id="inputosStatus">
                    <option value="">Selecione</option>
                    <option value="Aberta">Aberta</option>
                    <option value="Em andamento">Em andamento</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
            </div>

            
            <div class="col-md-6">
                <label for="inputServicoOS" class="form-label">Serviço Solicitado</label>
                <textarea class="form-control" id="inputServicoOS" rows="2" maxlength="500" spellcheck="false"
                    placeholder="Descreva o serviço solicitado..."></textarea>
            </div>

            
            <div class="col-md-6">
                <label for="inputObsOS" class="form-label">Observações</label>
                <textarea class="form-control" id="inputObsOS" rows="2" maxlength="500" spellcheck="false"
                    placeholder="Descreva o serviço solicitado..."></textarea>
            </div>

            
            <div class="row mt-4 align-items-end">
                

                <div class="mt-4 d-flex justify-content-center gap-1">
                    <button type="submit" class="btn btn-success" id="btnCreate">Gerar OS</button>
                    <button type="button" class="btn btn-primary" onclick="findOS()">Buscar OS</button>
                    <button type="submit" class="btn btn-warning" id="btnUpdate">Editar OS</button>
                    <button type="button" class="btn btn-danger" id="btnDelete"onclick="removeOS()">Excluir OS</button>
                    <button type="button" class="btn btn-secondary" onclick= "generateOS()">Imprimir OS</button>
                    <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>

                    
                    <div class="col-md-4 ms-4">
                        <label for="inputValorOS" class="form-label">Valor Total</label>
                        <input type="text" class="form-control d-inline-block w-auto" id="inputValorOS" maxlength="30"
                            onkeyup="formatarMoeda(this)">
                    </div>
                </div>



        </form>
    </div>

    
    <script src="../public/js/bootstrap.min.js"></script>

    
    <script>
        function formatarMoeda(input) {
            let valor = input.value.replace(/\D/g, ""); 
            valor = (valor / 100).toFixed(2) + ""; 
            valor = valor.replace(".", ","); 
            valor = "R$ " + valor.replace(/\B(?=(\d{3})+(?!\d))/g, "."); 
            input.value = valor;
        }
    </script>

    <script src="rendererOs.js"></script>
</body>

</html>