<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">

    <title>Sobre</title>
    
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../public/css/style2.css">
    
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <h1>Estetíca Auto Motiva</h1>
        <p>Sistema de Cadastro de Clientes e Emissão de OS para Estética Automotiva</p>
        <p>Autor: Carlos Antonio</p>
        <p>Sob a licença MIT</p>
    </div>
        
        <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>