<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiculos</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            <!-- Buscar Cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>
            <!-- -->
            <hr class="mt-4 border border-primary border -1">
            <!-- Modelo -->
            <div class="col-md-3">
                <label for="inputModeloVeiculo" class="form-label">Modelo Veiculo</label>
                <input type="text" class="form-control" id="inputModeloVeiculo" spellcheck="false" required
                    maxlength="30">
            </div>
            <!-- Ano -->
            <div class="col-md-2">
                <label for="inputAnoVeiculo" class="form-label">Ano Veiculo</label>
                <input type="text" class="form-control" id="inputAnoVeiculo" spellcheck="false" required maxlength="15">
            </div>
            <!-- Cor -->
            <div class="col-md-2">
                <label for="inputCorVeiculo" class="form-label">Cor Veiculo</label>
                <input type="text" class="form-control" id="inputCorVeiculo" spellcheck="false" maxlength="60">
            </div>
            <!-- Tipo -->
            <div class="col-md-2">
                <label for="inputTipoVeiculo" class="form-label">Tipo</label>
                <input type="text" class="form-control" id="inputTipoVeiculo" spellcheck="false" maxlength="15">
            </div>
            <!-- Placa-->
            <div class="col-md-2">
                <label for="inputPlacaVeiculo" class="form-label">Placa</label>
                <input type="text" class="form-control" id="inputPlacaVeiculo" spellcheck="false" maxlength="15">
            </div>
            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>
    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>