body {
    background-color: aliceblue;
}


#btnReset {
    width: 24px;
    height: 24px;
    background-image: url(../img/vassoura.png);
    border: none;
    cursor: pointer;
    margin-left: 10px;
}


#idClient {
    display: none;
}


#viewListSuggestion {
    z-index: 2;
    max-width: 382px;
}